

$blue: rgba(103, 154, 172, 1);
$black: rgba(29, 29, 29, 1);
$white: rgba(248, 247, 229, 1);
$orange: rgba(255, 131, 79, 1);
$yellow: rgba(249, 175, 66, 1);

$breakpoint-xs: 480px;  
$breakpoint-sm: 768px;
$breakpoint-mobile: 900px; 
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px; 
$breakpoint-xl: 1440px;