@import './../../../styles/mixins';
@import './../../../styles/variables';

.project-container {
    @include flex($justify: space-between);

    h6 {
        color: $white;
        transition: all 0.3s ease-in-out;
    }

    span {
        color: $white;
    }
}

.img-container {
    @include flex($justify: center, $align: center);
    width: 488px;
    height: 488px;
    background-color: $blue;
    border-radius: 4px;

    img {
        width: 413px;
        height: 294px;
    }
}

.project-info {
    position: relative;
    @include flex($justify: center, $align: start, $direction: column);
    gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: $black;
    width: 688px;
    height: 370px;

    p {
        color: $blue;
        font-weight: 700;
    }

    .project-buttons {
        @include flex();
        margin-top: 16px;
        gap: 32px;

        button {
            @include flex($direction: row-reverse);
            gap: 4px;

            img {
                transition: transform 0.3s ease-in-out;
            }

            &:hover img {
                transform: rotate(-60deg);
            }
        }
    }
}

.headline-section{
    width: 100%;
    @include flex($justify:space-between, $align:center);
    cursor: pointer;

    img{
        width: 30px;

        &:hover{
            animation-play-state: paused;
        }
    }
}

.change-project-button {
    @include flex($justify: space-between, $align: center, $direction: normal);
    margin-top: 32px;

    p {
        cursor: pointer;
        color: $black;
        font-size: 18px;
        font-weight: 700;

        &:hover {
            color: $orange;
        }

        &:active {
            color: $black;
        }
    }
}
