<div class="project-container">
    <div class="img-container">
        <img [src]="projects[curentProject].img.picture" alt="">
    </div>

    <div>
        <div class="project-info">
            <div class="headline-section">
                <h6>{{projects[curentProject].name}}</h6>
                <img (mouseover)="test()" class="up-douwn" [src]="projects[curentProject].img.icon" alt="">
            </div>
            <p>{{getTechnologies(curentProject)}}</p>
            <span>{{projects[curentProject].description}}</span>

            <div class="project-buttons">
                <button>
                    <img src="./../../../../assets/img/icons/arrow-right.svg" alt="">
                    GitHub</button>
                <button>
                    <img src="./../../../../assets/img/icons/arrow-right.svg" alt="">
                    Live Test</button>
            </div>
        </div>

        <div class="change-project-button">
            <p (click)="previous()">&lt;&lt; Vorheriges project</p>
            <p (click)="next()">Nächtes project &gt;&gt;</p>
        </div>
    </div>

</div>