<div class="project-container">
    <div class="img-container" [style.background-color]="projects[curentProject].img.bg">
        <img class="project-img" [src]="projects[curentProject].img.picture" alt="">
        <img *ngIf="projects[curentProject].img.bg === '#FF834F'" class="circle rotating"
            src="./../../../assets/img/circle-blue.svg" alt="">
        <img *ngIf="projects[curentProject].img.bg !== '#FF834F'" class="circle rotating"
            src="./../../../assets/img/circle.svg" alt="">
    </div>

    <div class="project-info-section">
        <div class="project-info">
            <div class="headline-section">
                <h6>{{projects[curentProject].name}}</h6>
                <img (mouseout)="closePopUp()" (mouseover)="openPopUp()" class="up-douwn"
                    [src]="projects[curentProject].img.icon" alt="">
                <app-my-work-on-it-pop-up class="pop-up" *ngIf="isPopUpVisible"
                    [text]="projects[curentProject].popupText | translate">
                </app-my-work-on-it-pop-up>
            </div>
            <p>{{getTechnologies(curentProject)}}</p>
            <span>{{projects[curentProject].description | translate}}</span>

            <div class="project-buttons">
                <a [href]="projects[curentProject].linkGithub" target="_blank" rel="noopener">
                    <button>
                        <img src="./../../../../assets/img/icons/arrow-right.svg" alt="">
                        GitHub
                    </button>
                </a>
                <a [href]="projects[curentProject].linkLive" target="_blank" rel="noopener">
                    <button>
                        <img src="./../../../../assets/img/icons/arrow-right.svg" alt="">
                        Live Test
                    </button>
                </a>
            </div>
        </div>

        <div class="change-project-button">
            <p (click)="previous()">&lt;&lt; Vorheriges project</p>
            <p (click)="next()">Nächtes project &gt;&gt;</p>
        </div>
    </div>

</div>