@import './../../../styles/mixins';
@import './../../../styles/variables';

.project-container {
    position: relative;
    z-index: 999;
    @include flex($justify: space-between);

    h6 {
        color: $white;
        transition: all 0.3s ease-in-out;
    }

    span {
        color: $white;
    }

    @media(max-width: $breakpoint-sm) {
        @include flex($justify: space-between, $align: normal, $direction: column);
    }
}

.img-container {
    @include flex($justify: center, $align: center);
    width: 488px;
    min-width: 450px;
    height: 488px;
    background-color: $blue;
    border-radius: 4px;
    position: relative;

    .project-img {
        z-index: 2;
        width: 413px;
        height: 294px;

        @media(max-width: $breakpoint-md) {
            width: 100%;
            height: auto;
        }
    }

    @media (min-width: $breakpoint-sm) and (max-height: 760px){
        height: 400px;
    }
    @media (min-width: $breakpoint-sm) and (max-height: 700px){
        height: 488px;
    }

    @media(max-width: $breakpoint-sm) {
        width: 100%;
        min-width: 0px;
        height: 50%;


        .project-img {
            padding-top: 16px;
            padding-bottom: 16px;
            z-index: 2;
            width: 100%;
            height: 294px;
        }

    }

    @media(max-width: $breakpoint-md) {
        width: 50%;
        min-width: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    @media(max-width: $breakpoint-sm) {
        width: 100%;
        padding: 16px;

    }
}

.project-info {
    position: relative;
    @include flex($justify: center, $align: start, $direction: column);
    gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 82px;
    padding-bottom: 82px;
    background-color: $black;
    max-width: 688px;
    width: 100%;


    p {
        color: $blue;
        font-weight: 700;
    }

    .project-buttons {
        @include flex();
        margin-top: 16px;
        gap: 32px;

        a {
            text-decoration: none;
        }

        button {
            @include flex($direction: row-reverse);
            gap: 4px;

            img {
                transition: transform 0.3s ease-in-out;
            }

            &:hover img {
                transform: rotate(-60deg);
            }

           
        }

         @media(max-width: 850px){
                @include flex($justify: center, $align: center, $direction: column);
                gap: 16px;
                align-self: center;
            }
        @media(max-width: $breakpoint-sm){
                @include flex();
                align-self: auto;
                
            }    

        @media(max-width: 400px) {
            gap: 16px;
            align-self: center;
            @include flex($justify: center, $align: center, $direction: column);
        }
    }


    @media(max-width: $breakpoint-md ) {
        padding-top: 42px;
        padding-bottom: 42px;
    }


    @media(max-width: $breakpoint-sm ) {
        max-width: 100%;
        height: 260px;
    }

    @media(max-width: $breakpoint-sm) {
        padding: 16px;
        height: auto;
    }
}

.headline-section {
    width: 100%;
    @include flex($justify: space-between, $align: center);
    cursor: pointer;

    img {
        width: 30px;

        &:hover {
            animation-play-state: paused;
        }
    }


}

.change-project-button {
    @include flex($justify: space-between, $align: center, $direction: normal);
    margin-top: 32px;

    p {
        cursor: pointer;
        color: $black;
        font-size: 18px;
        font-weight: 700;

        &:hover {
            color: $orange;
        }

        &:active {
            color: $black;
        }

        @media(max-width: $breakpoint-md) {
            font-size: 16px;
        }

        @media(max-width: $breakpoint-sm) {
            font-size: 18px;
        }

        @media(max-width: 400px) {
            font-size: 16px;
        }

        @media(max-width: 360px) {
            font-size: 14px;
        }
    }



    @media(max-width: $breakpoint-sm) {
        margin-top: 16px;
    }


}

.circle {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
}

.pop-up {
    z-index: 999;
    position: absolute;
    top: -116x;
    right: 68px;

    @media(max-width: $breakpoint-sm) {
        left: 32px;
        top: 32px;
        right: 32px;
    }
}

.project-info-section {
    margin-left: 15px;

    @media(max-width: $breakpoint-md) {

        width: 50%;
    }

    @media(max-width: $breakpoint-sm) {
        width: 100%;
        margin-left: 0px;
        margin-top: 16px;
    }
}