@import './../../../styles/mixins';
@import './../../../styles/variables';

.scroll-down-advertisement {
    width: 144px;
    height: 144px;
    position: relative;

    .arrow-bottom {
        width: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (min-width: $breakpoint-sm) and (max-height: 670px) {
        width: 80px;
        height: 80px;

        img {
            width: 80px;
        }

        .arrow-bottom{
            width: 15px;
        }
    }

    @media (max-width: $breakpoint-sm) {
        width: 80px;
        height: 80px;

        img {
            width: 80px;
        }

        .arrow-bottom{
            width: 15px;
        }
    }
}