@import './../../styles/mixins';
@import './../../styles/variables';


.about-me-container {
    @include flex($justify: center, $align: normal);
    width: 100%;
    height: 100%;
    background-color: $white;
}

.about-me-content {
    @include flex($justify: space-between, $align: flex-end, $direction: row);
    position: relative;

    h2 {
        right: 96px;
        position: absolute;
        align-self: start;
    }
}

.img-container {
    height: 76vh;
    width: 100%;
    min-width: 504px;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;

        @media (max-width: $breakpoint-sm) {
            max-width: 324px;
        }
    }

    @media (min-width:768px) and (min-height: 1306px) {
        height: auto;
    }

    @media (min-width:768px) and (max-height: 700px) {
        height: auto;
    }

    @media (max-width: $breakpoint-sm) {
        height: auto;
    }

    @media (max-width: $breakpoint-sm) {
        height: 487px;
        min-width: 100%;
    }
}

.about-me-section {
    height: 100%;
    @include flex($justify: normal, $align: flex-end, $direction: row);

    @media (max-width: $breakpoint-sm) {
        @include flex($justify: normal, $align: flex-end, $direction: column);
    }

    @media (max-width: $breakpoint-sm) {
        width: 100%;
        margin-top: 64px;
    }
}

.about-me-descripton {
    @include flex($justify: space-between, $align: flex-start, $direction: column);
    position: relative;
    z-index: 999;
    align-self: center;
    padding: 32px;
    background-color: $black;
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-left: -90px;

    span {
        color: $white;
    }

    .button-section {
        margin-top: 32px;
        position: relative;
        width: 100%;
        @include flex($justify: space-between, $align: center, $direction: row);

        img {
            cursor: pointer;

            &:hover {
                animation-play-state: paused;
            }
        }
    }

    @media (max-width: $breakpoint-md) {
        margin-top: 24px;
    }

    @media (max-width: $breakpoint-sm) {
        margin-left: clamp(0px, 5vw, 32px);
        margin-top: -80px;

    }
}

.menu-ection {
    position: relative;
}

.menu {
    position: absolute;
    right: -200px;
    top: 48px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

    @media (max-width: $breakpoint-xl) {
        right: -40px;
    }

    @media (max-width: $breakpoint-sm) {
        right: 24px;
        top: 32px;
    }

    @media (max-width: $breakpoint-xs) {
        right: 0px;
        top: 32px;
    }
}

.menu.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}