<div class="about-me-container padding-top-bottom-mobile">
    <div class="about-me-content content-limit content-padding">
        <h2 class="fly-in-from-top" appAnimateOnScroll>{{'about-me.headline' | translate}}</h2>

        <div class="about-me-section">
            <div class="img-container fly-in-from-left" appAnimateOnScroll>
                <img src="./../../../assets/img/stephan/2024-12-07_09-11-31_20.jpg" alt="">
            </div>

            <div class="about-me-descripton fly-in-from-right" appAnimateOnScroll>
                <span>{{'about-me.description'| translate }} <br><br>

                    {{'about-me.tagline'| translate }}</span>

                <div class="button-section">
                    <button (click)="scrollToSection()">{{'about-me.button' | translate}}</button>

                    <div class="menu-section">
                        <img (mouseover)="openMenu()" (mouseout)="closeMenu()" class="up-douwn"
                            src="./../../../assets/img/icons/speak- smiley.svg" alt="">

                        <app-pop-up-menu class="menu" [class.is-visible]="isMenuVisible">
                        </app-pop-up-menu>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>