<div class="about-me-container">
    <div class="about-me-content content-limit content-padding">
        <h2>Über mich</h2>

        <div class="img-container">
            <img src="./../../../assets/img/stephan/2024-12-07_09-11-31_20.jpg" alt="">
        </div>

        <div class="about-me-descripton">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit eligendi labore temporibus quas nobis?
                Libero corrupti officiis facere dolore aperiam quis similique esse. Dolorum, aut minus? Fugit qui
                dolores quia.</span>

            <div class="button-section">
                <button>Lass uns reden</button>
                <img class="up-douwn" src="./../../../assets/img/icons/speak- smiley.svg" alt="">
            </div>
        </div>

    </div>
</div>