@import './../../styles/mixins';
@import './../../styles/variables';


.about-me-container {
    @include flex($justify: center, $align: normal);
    width: 100%;
    height: 100%;
    background-color: $white;
}

.about-me-content {
    @include flex($justify: space-between, $align: flex-end, $direction: row-reverse);
    position: relative;

    h2 {
        align-self: start;
    }
}

.img-container {
    width: 528px;
    height: 740px;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.about-me-descripton {
    @include flex($justify: space-between, $align: flex-start, $direction: column);
    position: absolute;
    top: 50%;
    left: 890px;
    transform: translate(-50%, -50%);
    padding: 32px;
    background-color: $black;
    width: 600px;
    height: 250px;
    border-radius: 4px;

    span {
        color: $white;
    }

    .button-section {
        width: 100%;
        @include flex($justify: space-between, $align: center, $direction: row);

        img {
            cursor: pointer;

            &:hover {
                animation-play-state: paused;
            }
        }
    }
}