@import './../../styles/mixins';
@import './../../styles/variables';

.contact-container {
    @include flex($justify: center, $align: normal);
    width: 100%;
    height: 100%;
    background-color: $black;
}

.contact-content {
    @include flex($justify: space-between);

    @media (max-width: $breakpoint-sm) {
        @include flex($justify: normal, $align: normal, $direction: column);
    }
}

.left-section {
    width: 50%;
    height: 100%;
    @include flex($justify: space-between, $align: normal, $direction: column);
    margin-right: 24px;

    @media (max-width: $breakpoint-sm) {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 32px;
        @include flex($justify: space-between, $align: center, $direction: column);
    }
}

.headline-section {
    width: 100%;
    max-width: 528px;


    h2 {
        color: $yellow;
    }

    h6 {
        margin-top: 64px;
        margin-bottom: 16px;
        color: $orange;

        @media (max-width: $breakpoint-sm) {
            margin-top: 32px;
        }
    }

    span {
        color: $white;
    }
}

.arrow-up {
    right: 72px;
    top: 160px;
    position: absolute;

    @media (max-width: $breakpoint-md) {
       top: 80px;
    }

    @media (max-width: $breakpoint-sm) {
        display: none;
    }


}

.h2-contact{
    @media (min-width: $breakpoint-sm) {
        margin-top: 72px !important;
    }
   
}

.circle-desktop {
    overflow: hidden;
    @media (max-width: $breakpoint-sm) {
        display: none;
    }
}

.circle-mobile {
    overflow: hidden;
    display: none;

    @media (max-width: $breakpoint-sm) {
        @include flex($justify: center, $align: center, $direction: column);
    }

}

.form{
    width: 50%;
   @media (max-width: $breakpoint-sm) {
        @include flex($justify: center, $align: center, $direction: column);
        width: 100%;
    } 
}

.footer {
    position: absolute;
    right: 72px;
    bottom: 56px;
    width: 50%;

    @media (max-width: $breakpoint-md) {
        width: 60%;
    }

    @media (max-width: $breakpoint-sm) {
        position: static;
        width: 100%;
    }
}

.padding-top-mobile {
    padding-top: 80px;
}

