<div class="contact-container padding-top-mobile">
  
    <div class="contact-content content-limit content-padding" style="position: relative;">

        
        <app-arrow-up class="arrow-up" (click)="scrollToSection()"></app-arrow-up>

        <div class="left-section">
            <div class="headline-section fly-in-from-left" appAnimateOnScroll>
                <h2 class="h2-contact">
                    {{'contact.headline' | translate}}
                </h2>
                <h6>
                    {{'contact.subheadline' | translate}}
                </h6>
                <span>{{'contact.description' | translate}}
                </span>
            </div>
            <app-circle class="circle-desktop" appAnimateOnScroll></app-circle>
        </div>

        <app-contact-form class="form fly-in-from-right" appAnimateOnScroll></app-contact-form>
        <app-footer class="footer"></app-footer>
        <app-circle class="circle-mobile"></app-circle>

    </div>
</div>