<div class="contact-container">
    <div class="contact-content content-limit content-padding" style="position: relative;">

        <app-arrow-up class="arrow-up" (click)="scrollToSection()"></app-arrow-up>

        <div class="left-section">
            <div class="headline-section">
                <h2>
                    Lass uns gemeinsam etwas cooles bauen!
                </h2>
                <h6>
                    Sie haben ein Problem zu lösen ?
                </h6>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos optio saepe architecto magnam
                    aliquid
                    </span>
            </div>
            <app-circle></app-circle>
        </div>

        <app-contact-form></app-contact-form>
        <app-footer class="footer"></app-footer>
       

    </div>
</div>