@import './../../../styles/mixins';
@import './../../../styles/variables';

.circle-container{
    width: 374px;
    height: 264px;
    position: relative;

    img{
        position: absolute;
        object-fit: contain;       
    }
}

.circle-orange{
    bottom: 0px;
    width: 180px;
}

.circle-blue{
   right: 0;
}