@import './../../../../styles/mixins';
@import './../../../../styles/variables';

.pop-up-container{
    width: 520px;
    height: auto;
    padding: 32px;
    background-color: $blue;
    border: 1px solid $white;
    border-radius: 4px;

    span{
        color: white;
    }

    @media(max-width: $breakpoint-md) {
        width: 100%;
    }
    @media(max-width: $breakpoint-sm) {
        padding: 16px;
    }
}