<div class="menu-container">

    <h6>{{'about-me.popUp.headline'| translate }}</h6>

    <div class="list">
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>{{'about-me.popUp.1'| translate }}</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>{{'about-me.popUp.2'| translate }}</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>{{'about-me.popUp.3'| translate }}</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>{{'about-me.popUp.4'| translate }}</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>{{'about-me.popUp.5'| translate }}</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>{{'about-me.popUp.6'| translate }}</p>
        </div>
    </div>
</div>