<div class="menu-container">

    <h6>Mehr Über Mich</h6>

    <div class="list">
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>Team palyer</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>Kontinuierles lernen</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>Kontinuierles lernen</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>Kontinuierles lernen</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>Kontinuierles lernen</p>
        </div>
        <div>
            <img src="./../../../../assets/img/icons/check_circle.svg" alt="">
            <p>Kontinuierles lernen</p>
        </div>
    </div>
</div>