@import './../../../styles/mixins';
@import './../../../styles/variables';

.menu-container {
    @include flex($justify: normal, $align: normal, $direction: column);
    padding: 32px;
    width: 272px;
    height: 263px;
    background-color: $blue;
    border: 1px solid $black;
    border-radius: 4px;
    position: relative;
    z-index: 9999 !important;

    h6 {
        text-align: center;
        color: $white;
    }
}

.list {
    @include flex($justify: space-between, $align: normal, $direction: column);
    margin-top: 16px;
    flex: 1;

    p {
        color: $white;
        font-size: 16px;
    }

    div {
        @include flex($justify: normal, $align: normal);
        gap: 8px;
    }
}

.close {
    display: none;
    right: 12px;
    top: 16px;
    position: absolute;

    &:active {
        filter: brightness(0) saturate(100%) invert(54%) sepia(85%) saturate(749%) hue-rotate(-16deg) brightness(104%) contrast(101%);
    }

    @media (max-width: $breakpoint-sm) {
        display: flex;
    }
}