@import './../../styles/mixins';
@import './../../styles/variables';

:host {
    @include flex($justify: center, $align: normal);
}

.header-container {
    position: fixed;
    z-index: 999;
    height: 88px;
    top: 0px;
}

.header-content {}

.logo {
    color: $black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 24px;
    height: 24px;
    width: 150px;
    letter-spacing: 2px;
    position: relative; /* Ermöglicht die Animation */
    transition: transform 0.4s ease; /* Sanfte Animation */
    transform: translateX(0); /* Standardposition */
}

.logo.scrolled {
    transform: translateX(-400px); 
}