<div class="header-container">
    <div class="header-content">
        <div [ngClass]="{'about-me-logo': currentSection === 'aboutMe', 
        'my-work-logo': currentSection === 'myWork'
         }" class="logo" [class.scrolled]="isScrolled">
         <img src="./../../../assets/img/stephan/logo (2).svg" alt="">
            Zager
        </div>

        <div class="header-menus">
            <div>
                <button [ngClass]="{'about-me-btn': currentSection === 'aboutMe', 
                                    'my-work-btn': currentSection === 'myWork'
                                     }" class="language-btn" (click)="toggleLanguage()">
                    {{ translate.currentLang === 'de' ? 'DE' : 'EN' }}
                </button>
                

            </div>

            <div class="menu-section" *ngIf="showMenuSection">
                <div class="burger-menu" (click)="toggleHeaderMenu()" [ngClass]="{
            'about-me-menu': currentSection === 'aboutMe',
            'my-work-menu': currentSection === 'myWork'
        }">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>

                <app-header-menu class="menu" *ngIf="isMenuOpen"></app-header-menu>
            </div>


        </div>

    </div>
</div>