@import './../../styles/mixins';
@import './../../styles/variables';

:host {
    @include flex($justify: center, $align: normal);
}

.header-container {
    @include flex($justify: center, $align: center, $direction: normal);
    position: fixed;
    z-index: 999;
    height: 88px;
    max-width: 1450px;
    width: 100%;
    top: 0px;


    @media (min-width:768px) and (min-height: 1306px) {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (min-width:768px) and (max-height: 700px) {
        position: absolute;
        left: 0px;
    }

    @media (max-width: $breakpoint-sm) {
        position: absolute;
        left: 0px;
    }
}

.header-content {
    position: relative;
    height: 100%;
    width: 100%;
    @include flex($justify: center, $align: center, $direction: normal);

    @media(max-width: $breakpoint-sm) {
        @include flex($justify: normal, $align: center, $direction: normal);

    }
}

.logo {
    @include flex($justify: normal, $align: center, $direction: normal);
    gap: 16px;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 24px;
    height: 24px;
    width: 150px;
    letter-spacing: 2px;
    position: relative;
    transition: transform 0.4s ease;
    transform: translateX(0);


    @media(max-width: $breakpoint-sm) {
        left: 72px;

    }

    @media(max-width: $breakpoint-xs) {
        left: 16px;

    }
}

.logo.about-me-logo {
    color: $black;

}

.logo.my-work-logo {
    color: $black;

}

.logo.scrolled {
    transform: translateX(-400px);

    @media(max-width: $breakpoint-md) {
        transform: translateX(clamp(-244px, -30vw, -400px));

    }
}

.header-menus {
    position: absolute;
    right: 72px;
    gap: 16px;
    @include flex($justify: normal, $align: center, $direction: normal);

    @media(max-width: $breakpoint-xs) {
        right: 16px;

    }
}

.menu-section {
    position: relative;
}

.menu {
    position: absolute;
    top: -16px;
    right: -50px;

    @media(max-width: $breakpoint-xs) {
        right: 0px;

    }

}

.burger-menu {
    @include flex($justify: space-between, $align: normal, $direction: column);
    width: 24px;
    height: 16px;
    cursor: pointer;

    &:hover .line1,
    &:hover .line2,
    &:hover .line3 {
        background-color: $orange;
        transition: background-color 0.2s ease;

    }
}

.line1,
.line2,
.line3 {
    width: 24px;
    height: 3px;
    background-color: $white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.burger-menu.about-me-menu .line1,
.burger-menu.about-me-menu .line2,
.burger-menu.about-me-menu .line3 {
    background-color: $black;
}

/* Stil für "myWork" */
.burger-menu.my-work-menu .line1,
.burger-menu.my-work-menu .line2,
.burger-menu.my-work-menu .line3 {
    background-color: $black;

}

.language-btn {
    padding-left: 8px;
    padding-right: 8px;
}

.language-btn.about-me-btn {
    border-color: $black;
    color: $black;
}

.language-btn.my-work-btn {
    border-color: $black;
    color: $black;
}