<div class="header-container">
    <div class="header-content">
        <div class="logo" [class.scrolled]="isScrolled">
            Zager
        </div>

        <div class="header-menus">
            <div>
                <button class="language-btn" (click)="toggleLanguage()">{{ currentLanguage }}</button>
            </div>

            <div class="menu-section">
                <div class="burger-menu" (click)="openMenu()" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>

                <app-header-menu class="menu" *ngIf="toggleMenu"></app-header-menu>
            </div>


        </div>

    </div>
</div>