@import './../../styles/mixins';
@import './../../styles/variables';

:host {
    @include flex($justify: center, $align: normal);
}

.header-container {
    @include flex($justify: center, $align: center, $direction: normal);
    position: fixed;
    z-index: 999;
    height: 88px;
    max-width: 1450px;
    width: 100%;
    top: 0px;
}

.header-content {
    position: relative;
    height: 100%;
    width: 100%;
    @include flex($justify: center, $align: center, $direction: normal);
}

.logo {
    color: $black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 24px;
    height: 24px;
    width: 150px;
    letter-spacing: 2px;
    position: relative;
    /* Ermöglicht die Animation */
    transition: transform 0.4s ease;
    /* Sanfte Animation */
    transform: translateX(0);
    /* Standardposition */
}

.logo.scrolled {
    transform: translateX(-400px);
}

.header-menus {
    position: absolute;
    right: 72px;
    gap: 16px;
    @include flex($justify: normal, $align: center, $direction: normal);
}

.menu-section {
    position: relative;
}

.menu {
    position: absolute;
    top: -16px;
    right: -50px;
}

.burger-menu {
    @include flex($justify: space-between, $align: normal, $direction: column);
    width: 24px;
    height: 16px;
    cursor: pointer;
}

.line1 {
    width: 24px;
    height: 3px;
    background-color: $white;
    border-radius: 5px;
}

.line2 {
    width: 24px;
    height: 3px;
    background-color: $white;
    border-radius: 5px;
}

.line3 {
    width: 24px;
    height: 3px;
    background-color: $white;
    border-radius: 5px;
}