@import './../../../styles/mixins';
@import './../../../styles/variables';

.continual-learning-container {
    position: relative;
    width: 120px;
    height: 120px;

    .icon {
        cursor: pointer;
        width: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover~.rotating.circle {
            animation-play-state: paused;
           
        }
    }

    .pop-up {
        position: absolute;
        bottom: 0px;
        left: 150px;
    }
}