@import './../../../styles/mixins';
@import './../../../styles/variables';

.continual-learning-container {
    position: relative;
    width: 120px;
    height: 120px;

    .icon {
        cursor: pointer;
        width: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover~.rotating.circle {
            animation-play-state: paused;

        }
    }

    .pop-up {
        z-index: 999;
        position: absolute;
        bottom: 0px;
        left: 150px;
        opacity: 0;
        transform: translateX(300%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        @media (max-width: $breakpoint-sm) {
            left: 72px;
            bottom: 100px;
        }

        @media (max-width: $breakpoint-xs) {
            left: 35%;
            bottom: 128px;
            transform: translateX(-14%);
        }
    }

    .pop-up.is-visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }


}