<div class="lading-page-container">
    
    <app-header class="header-mobile"></app-header>

    <div class="lading-page-content content-limit content-padding">
        <app-icon-bar class="icon-bar"></app-icon-bar>
        <app-scroll-down class="scroll-down"></app-scroll-down>

        <div class="headline-section">
            <p>{{'lading-page.headline' | translate}}
            <h1>Stephan Zager</h1>
            <p>Frontent Developer</p>
            <button (click)="scrollToSection()">{{'lading-page.button' |translate }}</button>
        </div>


        <div class="img-section">
            <img class="avatar" src="./../../../assets/img/stephan/Adobe Express - file.png" alt="">
            <img class="circle" src="./../../../assets/img/circle.svg" alt="">
        </div>


    </div>

</div>