@import './../../styles/mixins';
@import './../../styles/variables';

.lading-page-container {
    @include flex($justify: center, $align: normal);
    width: 100%;
    height: 100%;
    background-color: $blue;

}

.lading-page-content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    p {
        color: $white;
        font-size: 48px;

        @media (max-width: $breakpoint-sm) {
            font-size: 32px;
        }

        @media (max-width: $breakpoint-sm) and (max-height: 750px) {
            font-size: 22px;
        }

    }

    h1 {
        color: $white;
    }

    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
        align-items: center;
    }
}

.header {
    display: none;

    @media (max-width: $breakpoint-sm) {
        @include flex($justify: normal, $align: normal);
    }
}

.icon-bar {
    z-index: 1000;
    position: absolute;
    top: 28px;
    left: 72px;

    @media (max-width: $breakpoint-sm) {
        display: none;
    }
}

.scroll-down {
    position: absolute;
    bottom: 96px;
    z-index: 999;

    @media (min-width: $breakpoint-sm) and (max-height: 860px) {
        bottom: 16px;

    }

    @media (max-width: $breakpoint-sm) {
        left: 10px;
        bottom: 5px;

    }
}

.headline-section {
    height: auto;
    width: 440px;
    align-self: start;
    margin-top: 160px;

    button {
        margin-top: 32px;

        @media (max-width: $breakpoint-sm) {
            margin-top: 22px;
        }
    }

    @include desktop-height {
        margin-top: 80px;
    }

    @media (max-width: $breakpoint-md) {
        width: 270px;
    }

    @media (max-width: $breakpoint-sm) {
        margin-top: 80px;
        align-self: center;
        width: 100%;
    }
}

.img-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    max-width: 633px;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .circle {
        margin-bottom: 250px;
        width: 350px;

        @media (min-width: $breakpoint-sm) and (min-height:1400px) {
            top: 64px;
            position: absolute;
        }

        @media (min-width:768px) and (min-height: 1306px) {
            margin-bottom: 0;
        }

        @media (min-width:768px) and (max-height: 700px) {
            margin-bottom: 0;
        }

        @media (max-width: $breakpoint-sm) {
            margin-bottom: 0;
        }

        @media (max-width: $breakpoint-md) {
            width: 280px;
            margin-bottom: 154px;
        }

        @media (max-width: $breakpoint-sm) {
            position: absolute;
            width: 200px;
            right: 0px;
            top: 0px;
            margin-bottom: 0px;
        }
    }

    .avatar {
        height: clamp(600px, 90vh, 900px);
        bottom: 0;
        position: absolute;
        object-fit: cover;
        z-index: 2;

        @media (max-width: $breakpoint-md) {
            height: clamp(600px, 69vh, 900px);

            @media (min-height: 1200px) {
                height: clamp(600px, 65vh, 900px);
            }
        }

        @media (max-width: $breakpoint-sm) {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media(min-height:1025px) {
            object-fit: cover;
        }

        @media (max-width: 405px) and (min-height: 945px) {
            object-fit: cover;
        }

    }

    @media (min-width: $breakpoint-sm) and (min-height:1400px) {
        padding-top: 1000px;
        height: auto !important;
    }

    @media (min-width: $breakpoint-sm) and (max-height:600px) {
        padding-top: 200px;
        height: auto !important;
    }

    @media (max-width: $breakpoint-sm) and (min-height:600px) {
        padding-top: 0px;
        height: auto !important;
    }

    @media (max-width: $breakpoint-sm) {
        margin-top: 20px;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        max-width: 480px;
    }

    @media(max-width:$breakpoint-xs) {
        max-width: 100%;
    }

}

.header-mobile {
    display: none;

    @media (min-width:768px) and (min-height: 1306px) {
        display: flex;
    }

    @media (min-width:768px) and (max-height: 700px) {
        display: flex;
    }

    @media(max-width: $breakpoint-sm) {
        display: flex;
    }
}



.test {
    width: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease, left 0.5s ease, transform 0.5s ease;
}