<div class="lading-page-container">

    <div class="lading-page-content content-limit content-padding">
        <app-icon-bar class="icon-bar"></app-icon-bar>

        <div class="headline-section">
            <p>Hallo ich bin</p>
            <h1>Stephan Zager</h1>
            <p>Frontent Developer</p>
            <button>Kontaktieren Sie mich</button>
        </div>


        <div class="img-section">
            <img class="avatar" src="./../../../assets/img/stephan/stephan-ladingpage.png" alt="">
            <img class="circle" src="./../../../assets/img/circle.svg" alt="">
        </div>


    </div>

</div>