@import './../../styles/mixins';
@import './../../styles/variables';

.lading-page-container {
    @include flex($justify: center, $align: normal);
    width: 100%;
    height: 100%;
    background-color: $blue;
}

.test {
    width: 50px;
    position: absolute;
    top: 10px;
    /* Startposition */
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease, left 0.5s ease, transform 0.5s ease;
    /* Animation */
}
