<div class="my-skills-container padding-top-bottom-mobile">
    <div class="my-skills-content content-limit content-padding">
        <div>
            <h2 class="fly-in-from-top" appAnimateOnScroll>{{'my-skills.headline'| translate}}</h2>

            <div class="skills-description"><span>
                    {{'my-skills.description'| translate}}</span>
            </div>
        </div>

        <div class="subcomponent">
            <app-continual-learning-content class="circle"></app-continual-learning-content>
            <app-skills></app-skills>
        </div>

    </div>

</div>