<div class="my-skills-container">
    <div class="my-skills-content content-limit content-padding">
        <div>
            <h2>Kernkompetenz</h2>

            <div class="skills-description"><span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In officia doloremque commodi earum ab et
                    iure
                    eius, nostrum velit dolore maiores repellendus. Deleniti vero molestias laboriosam omnis consectetur
                    nemo
                    nesciunt!</span>
            </div>
        </div>

        <div class="subcomponent">
            <app-continual-learning-content></app-continual-learning-content>
            <app-skills></app-skills>
        </div>

    </div>

</div>