<div class="imprint-container padding-top-bottom-mobile">
    <div class="imprint-content content-limit content-padding">
        <div class="button-container">
            <button (click)="goBack()">{{ 'imprint.backButton' | translate }}</button>
        </div>
        <div class="imprint">
            <h2>{{ 'imprint.title' | translate }}</h2>
            <p>{{ 'imprint.section' | translate }}</p>
            <p>{{ 'imprint.nameAddress' | translate }}</p>
            <p> <strong>{{ 'imprint.representedBy' | translate }}</strong></p>
            <p><strong>{{ 'imprint.contact' | translate }}</strong></p><br>
            <p>{{ 'imprint.imprintGenerator' | translate }}</p>
        </div>
    </div>