@import './../../styles/mixins';
@import './../../styles/variables';

:host {
    @include flex($justify: center, $align: normal);
}

.navigation-container {
    position: fixed;
    z-index: 999;
    height: auto;
    top: 50%;
    right: 72px;
}

.navigation-content {
    @include flex($justify: normal, $align: flex-end, $direction: column);

    a {
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 100px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}

.navigation {
    @include flex($justify: center, $align: normal, $direction: column);
    gap: 20px;
    width: 8px;
    height: 8px;
    margin-bottom: 20px;


}
