<div class="main-page-container" #mainPageContainer>
    <!--<div class="section" id="ladingPage">
        <app-lading-page></app-lading-page>
    </div>
    <div class="section about-me-section" id="aboutMe">
        <app-about-me></app-about-me>
    </div>-->
    <div class="section" id="mySkills">
        <app-my-skills></app-my-skills>
    </div>
    <div class="section" id="myWork">
        <app-my-work></app-my-work>
    </div>
    <div class="section" id="referenzen">
        <app-referenzen></app-referenzen>
    </div>

    <div class="section" id="contact">
        <app-contact></app-contact>
    </div>
</div>