<div class="learning-container">

     <img class="close" (click)="closeMenu()" src="./../../../../assets/img/icons/menus-x.svg" alt="">

    <h6>{{'my-skills.popUp.headline'| translate}}</h6>

    <div class="learning-description">
        <span>
            {{'my-skills.popUp.description'| translate}}
        </span>

        <div class="img">
            <img src="./../../../../../assets/img/icons/react.svg" alt="">
            <img src="./../../../../../assets/img/icons/vue.svg" alt="">
        </div>

    </div>
</div>