<div class="learning-container">
    <h6>Ist die gesuchte Fähigkeit nicht dabei?</h6>

    <div class="learning-description">
        <span>
            Kontaktieren Sie mich gerne. Ich freue mich darauf, mein bisheriges Wissen zu erweitern. Außerdem habe
            ich ein besonderes Interesse am Lernen:
        </span>

        <div class="img">
            <img src="./../../../../../assets/img/icons/react.svg" alt="">
            <img src="./../../../../../assets/img/icons/vue.svg" alt="">
        </div>

    </div>
</div>