<div class="referenzen-container padding-top-bottom-mobile">
    <div class="referenzen-content content-limit content-padding">
        <div>
            <h2>Was meine Kollen zu mir sagen</h2>
        </div>


        <div class="referenzen">
            <div *ngFor="let referenz of referenzenData; let i = index" class="referenz-item" [ngClass]="{'center-align': i ===1, 'end-align': i === 2}">
                <app-referenzen-item [data]="referenz"></app-referenzen-item>
            </div>
        </div>
    </div>
</div>