@import './../../styles/mixins';
@import './../../styles/variables';

.referenzen-content {
  @include flex($justify: normal, $align: normal, $direction: column);
}

.referenzen-container {
  position: relative;
  @include flex($justify: center, $align: normal);
  width: 100%;
  height: 100%;
  background-color: $blue;

  h2 {
    color: $white;
    text-align: center;
  }
}



.referenzen {
  position: relative;
  @include flex($justify: space-between, $align: normal, $direction: row);
  gap: 32px;
  margin-top: 48px;
  height: 100%;
  padding-bottom: 128px;

  @media(max-width: $breakpoint-sm) {
    @include flex($justify: normal, $align: flex-start, $direction: column);
    height: auto;
    gap: 32px;
    padding-bottom: 0px;
  }

}

.center-align {
  align-self: center;
}

.end-align {
  align-self: flex-end;
}

.referenz-item {



  


}