@import './../../styles/mixins';
@import './../../styles/variables';


.icon-bar-content {
    @include flex($justify: space-around, $align: center);
    height: 32px;
    width: 120px;

    a {
        img {
            cursor: pointer;
            width: 18px;
            height: 18px;
        }
    }
}

.icon-desktop {


    @media (max-width: $breakpoint-sm) {
        display: none;
    }
}

.icon-mobile {
    display: none;

    @media (max-width: $breakpoint-sm) {
        display: flex;
    }
}

.icon-bar-content a {
    position: relative;

    .icon-hover {
        display: none;

    }

    &:hover {

        .icon-desktop,
        .icon-mobile {
            display: none;
        }

        .icon-hover {
            display: block;
        }
    }
}