<div class="icon-bar-content">
    <a href="https://github.com/StephanZager" target="_blank" rel="noopener">
        <img class="icon-desktop" src="./../../../assets/img/icon-bar/git.svg" alt="Git Icon">
        <img class="icon-mobile" src="./../../../assets/img/icon-bar/git-black.svg" alt="Git Icon">
    </a>
    <a href="https://www.linkedin.com" target="_blank" rel="noopener">
        <img class="icon-desktop" src="./../../../assets/img/icon-bar/linkin.svg" alt="Git Icon">
        <img class="icon-mobile" src="./../../../assets/img/icon-bar/linkin-black.svg" alt="Git Icon">
    </a>
    <a href="mailto:stephan-zager@web.de">
        <img class="icon-desktop" src="./../../../assets/img/icon-bar/email.svg" alt="Git Icon">
        <img class="icon-mobile" src="./../../../assets/img/icon-bar/email-black.svg" alt="Git Icon">
    </a>
</div>