<form (submit)="onSubmit($event)">

    <div class="name-email-container">
        <div class="input-height" [ngClass]="{'border-error': nameError}">
            <label for="name">Wie ist dein Name?</label>
            <input required type="text" id="name" name="name" placeholder="{{ namePlaceholder }}"
                (blur)="onBlurName($event)">
        </div>
        <div class="input-height" [ngClass]="{'border-error': emailError}">
            <label for="email">Wie ist dein Email?</label>
            <input required type="text" id="email" name="email" placeholder="{{ emailPlaceholder }}" (blur)="onBlurEmail($event)">
        </div>
    </div>
    <div class="input-height" [ngClass]="{'border-error': messageError}">
        <label for="text">Wie kann ich sie helfen?</label>
        <textarea required placeholder="{{ messagePlaceholder }}" name="message" id="message" (blur)="onBlurMessage($event)"></textarea>
    </div>

    <div class="input-checkbox-container">
        <input type="checkbox">
        <p>Ich habe das <a href="#">Imrpind</a> gelsen dasd dasdsa</p>
    </div>

    <div class="button-container">
        <button (click)="test()" [disabled]="isSubmitting"> schicken</button>
    </div>


</form>