<form (submit)="onSubmit($event)">

    <div class="name-email-container">
        <div class="input-height" [ngClass]="{'focus': nameFocus}">
            <label for="name" [ngClass]="{'focus-label': nameFocusLabel}">Wie ist dein Name?</label>
            <input required type="text" id="name" name="name" placeholder="{{ namePlaceholder }}"
                (blur)="onBlurName($event)" (focus)="focusName($event)">
        </div>
        <div class="input-height" [ngClass]="{'focus': emailFocus}">
            <label for="email" [ngClass]="{'focus-label': emailFocusLabel}">Wie ist dein Email?</label>
            <input pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required type="text" id="email"
                name="email" placeholder="{{ emailPlaceholder }}" (blur)="onBlurEmail($event)" (focus)="focusEmail($event)">
        </div>
    </div>
    <div class="input-height" [ngClass]="{'focus': messageFocus}">
        <label for="text" [ngClass]="{'focus-label': messageFocusLabel}">Wie kann ich sie helfen?</label>
        <textarea required placeholder="{{ messagePlaceholder }}" name="message" id="message"
            (blur)="onBlurMessage($event)" (focus)="focusMessage($event)"></textarea>
    </div>

    <div class="input-checkbox-container">
        <input type="checkbox">
        <p>Ich habe das <a href="#">Imrpind</a> gelsen dasd dasdsa</p>
    </div>

    <div class="button-container">
        <button (click)="test()" [disabled]="isSubmitting"> schicken</button>
    </div>


</form>