@import './../../../styles/mixins';
@import './../../../styles/variables';

form {
    @include flex($justify: space-between, $align: normal, $direction: column);
    min-height: 380px;
    max-width: 600px;
    width: 100%;
   

    input {
        background: transparent;
        border: 0px solid;
    }

    textarea {
        background: transparent;
        border: 0px solid;
        resize: none;
    }

    p {
        color: $white;
    }

    @media (max-width: $breakpoint-md){
        min-height: 495px;
    }

    @media (max-width: $breakpoint-sm){
       max-width: 400px;
    }
}

.name-email-container {
    @include flex($justify: space-between, $align: normal, $direction: normal);

    @media (max-width: $breakpoint-md) {
    @include flex($justify: space-between, $align: normal, $direction: column);

  }
}

.name-container{
    margin-right: 32px;

     @media (max-width: $breakpoint-md) {
     margin-right: 0px;

  }
}

.input-checkbox-container {
    position: relative;
    @include flex($justify: normal, $align: center, $direction: normal);
    gap: 8px;

    a {
        color: $orange;
        text-decoration: none;
    }
}

.button-container {
    margin-top: 16px;
    @include flex($justify: center, $align: normal, $direction: normal);
}

button:disabled {
    background-color: transparent;
    cursor: not-allowed;
    opacity: 0.6;
}

.input-height {
    @include flex($justify: space-between, $align: normal, $direction: column);
    border-bottom: 1px solid $yellow;
    padding: 16px;
}

.placeholder-error::placeholder {
    color: #EC7B7BCC;
}

.focus {
    border-bottom: 1px solid $orange;
}

.focus-label {
    color: $orange;
}

.arrow-up{
    display: none;

     @media (max-width: $breakpoint-sm) {
        position: absolute;
        right: 16px;
       @include flex();
    }
}

.error-message{
    color: $orange;
    font-size: 14px;

    @media(max-width: 350px){
        font-size: 12px;
    }
}

.error-message-container{
    position: absolute;
    bottom: -24px;
    
}