@import './../../../styles/mixins';
@import './../../../styles/variables';

form {
    @include flex($justify: space-between, $align: normal, $direction: column);
    height: 380px;
    width: 600px;

    input {
        background: transparent;
        border: 0px solid;
    }

    textarea {
        background: transparent;
        border: 0px solid;
        resize: none;
    }

    p {
        color: $white;
    }
}

.name-email-container {
    @include flex($justify: space-between, $align: normal, $direction: normal);
}

.input-checkbox-container {
    @include flex($justify: normal, $align: center, $direction: normal);
    gap: 4px;

    a {
        color: $orange;
        text-decoration: none;
    }
}

.button-container {
    @include flex($justify: center, $align: normal, $direction: normal);
}

button:disabled {
    background-color: transparent;
    cursor: not-allowed;
    opacity: 0.6;
}

.input-height {
    @include flex($justify: space-between, $align: normal, $direction: column);
    height: 90px;
    border-bottom: 1px solid $yellow;
    padding: 16px;
}

.placeholder-error::placeholder {
    color: #EC7B7BCC;
}

.focus {
    border-bottom: 1px solid $orange;
}

.focus-label {
    color: $orange;
}