* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

@import './app/styles/mixins';
@import './app/styles/variables';


@keyframes moveToBottomLeft {
    0% {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    100% {
        top: 960px;
        left: 50px;
        transform: translateX(0);
        position: relative;
        position: fixed;
    }
}

.move-bottom-left {
    animation: moveToBottomLeft 0.5s forwards;
}

@keyframes moveToTopCenter {
    0% {
        top: 960px;
        left: 50px;
        transform: translateX(0);

    }

    100% {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
}

.move-top-center {
    animation: moveToTopCenter 0.5s forwards;
}

@keyframes rotating {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 1turn;
    }
}

@keyframes scratch {
    0% {
        rotate: 0;
    }

    10% {
        rotate: -0.25turn;
    }

    100% {
        rotate: 1turn;
    }
}

.rotating {
    animation: rotating 20s linear infinite;
}

@keyframes up-and-douwn {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.up-douwn {
    animation: up-and-douwn 600ms infinite alternate;
}

@keyframes thicken {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.04, 1.04);
    }

    100% {
        transform: scale(1, 1);
    }
}

.thicken {
    @media (max-width: $breakpoint-sm) {
        animation: thicken 1s infinite alternate;
    }

}



.content-limit {
    width: 1450px;
    height: 100%;
}

.content-padding {
    padding-left: 112px;
    padding-right: 112px;

    @media (max-width: $breakpoint-xl) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @media (max-width: $breakpoint-lg) {
        padding-left: 56px;
        padding-right: 56px;
    }

    @media (max-width: $breakpoint-md) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media (max-width: $breakpoint-sm) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (max-width: $breakpoint-xs) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

p {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

a {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: $white;
}

span {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Eczar", sans-serif;
    font-weight: 700;
    line-height: 1;
}

h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 24px;
}

h1 {
    font-size: 96px;

    @media (max-width: $breakpoint-lg) {
        font-size: 88px;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 80px;
    }

    @media (max-width: $breakpoint-sm) {
        font-size: 72px;
    }

    @media (max-width: $breakpoint-sm) and (max-height: 750px) {
        font-size: 58px;
    }


}

h2 {
    margin-top: 160px;
    font-size: 72px;
    font-weight: 700;


    @include desktop-height {
        margin-top: 80px;
    }

    @media (max-width: $breakpoint-lg) {
        font-size: 60px;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 52px;
    }

    @media (max-width: $breakpoint-sm) {
        font-size: 40px;
        margin-top: 0px;
    }
}

label {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: $white;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $white;
}

textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $white;
}

textarea:focus,
input:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: 1px solid #F8F7E5;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: transparent;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 24px;
    padding-right: 24px;

    &:hover {
        background-color: #FF834F;
        transform: scaleX(99%);
    }

    @media (max-width: $breakpoint-xs) {
        font-size: 16px;
    }
}

.padding-top-bottom-mobile {
    @media (max-width: $breakpoint-sm) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}